DB_HOST = localhost
DB_PORT = 27017
DB_USERNAME = USERNAME
DB_PASSWORD = PASSWORD
DB_NAME = eventra_db
DB_URI = mongodb://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?authSource=admin

# each one of us will have their own .env file. This is just a template given you'll have to create your own with this template
# This should not be pushed on git, so it is already added to gitignore
